node_modules/
dist/
build/
.env
.env.local
*.log
.DS_Store
coverage/
.turbo/
apps/api/prisma/*.db
apps/api/prisma/data/
apps/mobile/.dart_tool/
apps/mobile/build/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
*.iml
.idea/
.vscode/
